body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    padding: 20px;
}

form {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px #ccc;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

table {
    width: 100%;
    background: white;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}
